<div class="container">
  <div class="row">
    <div class="col-7 mx-auto my-3">
      <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers </strong>!!</h1>
      
      <div class="top_introduction">
        <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <p>about various books!</p>
      </div>
      </div>
  </div> 
  <div class="row">
    <div class="col-7 mx-auto">
      <div class="link_to_login">
        <%= link_to new_user_session_path, role: "button" do %>
          <button class="btn btn-primary w-100 bg-info" type="submit">login</button>
        <% end %>
      </div>
      
      <div class="link_to_sign up mt-3">
        <%= link_to new_user_registration_path, role: "button" do %>
          <button class="btn btn-primary w-100 bg-success" type="submit">Sign up</button>
        <% end %>
      </div>
  </div>    
  
</div>
</div>