@use '~bootstrap/scss/bootstrap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.home-top {
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

.list-item > a:hover {
  background-color: rgba(128,128,128,0.5);
}

.notice {
  color: green;
}